@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,ul,li,ol,table,tr,td,th,input,a,
img,p,span,b,dl,dt,dd,form{
	margin : 0;
	padding : 0;
}
a {
	text-decoration : none;
}
li {
	list-style : none;
}
img,input{
	border : none;
}
img {
	display: block;
}
.clearfix:after {
	content : ".";
	display : block;
	clear : both;
	overflow : hidden;
	visibility : hidden;
	font-size : 0;
	height : 0;
}
.fl {
	float : left;
}
.fr{
	float : right;
}
.noborder{
	border : none;
}
h1,h2,h3,h4,h5,h6,b {
	font-weight : normal;
}
em,i{
	font-style : normal;
}
table {
	border-spacing : 0;
	border-collapse : collapse;
}
